:root{
    --primary-dark:#4B5563;
    --primary-green:#065F46;
}
h1{
    text-align: center;
    color:blanchedalmond;
}
label{
    margin-right: 9rem;
}
.container{
    width: 50%;
    margin: auto;
}
input,label{
    display: block;
    text-align: center;
    margin-left: 15rem;
    font-size: xx-large;
    color:blanchedalmond;
    margin-top: 2rem;
}
input{
    margin-bottom: 0.5rem;
    width: 50%;
    height: 3rem;
    text-align: center;
    margin-right: 5rem;
    color: black;
}
.checnum{
    width: 20%;
    height: 4rem;
    display: block;
    margin-top: 3rem;
    text-align: center;
    margin-left: 23rem;
    /* margin: auto; */
    background: transparent;
    color:seashell;
    background-color: var(--primary-dark);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.wwww{
    background-color: forestgreen;
}
body{
    margin-top: 10rem;
    text-align: center;
    background-image: url(happ.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
textarea{
    width: 30rem;
    margin-top: 3rem;
}
button{
    margin-top: 10rem;
}
div{
    font-size: xx-large;
    color:blanchedalmond;
}